@model IEnumerable<Doro_RentalMovie.Models.CheckOut>

@{
    ViewBag.Title = "Overdue";
}

<h2>Overdue</h2>

<p>
    @Html.ActionLink("View all Checkouts", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checkout_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Return_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Phone_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days_Late)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Late_Fees)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Checkout_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Return_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Phone_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Days_Late)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Late_Fees)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CheckOutID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CheckOutID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CheckOutID })
        </td>
    </tr>
}

</table>

<div>
        @Html.ActionLink("Back to List", "Index")
</div>
