@model IEnumerable<Doro_RentalMovie.Models.CheckOut>

@{
    ViewBag.Title = "Overdue";
}

<h2>Overdue</h2>

<p>
    @Html.ActionLink("View all Checkouts", "Index")
</p>
<p>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <i class="fa fa-search fa-1x"><input type="text" id="search" /></i>
</p>
<table class="table" id="projectTable">
    <tr>
        <th>
            Price<!--Html.DisplayNameFor(model => model.Price)-->
        </th>
        <th>
            Checkout Date<!--Html.DisplayNameFor(model => model.Checkout_Date)-->
        </th>
        <th>
            Return Date<!--Html.DisplayNameFor(model => model.Return_Date)-->
        </th>
        <th>
            Last Name<!--Html.DisplayNameFor(model => model.Customer.Last_Name)-->
        </th>
        <th>
            Phone Number<!--Html.DisplayNameFor(model => model.Customer.Phone_Number)-->
        </th>
        <th>
            Movie Title<!--Html.DisplayNameFor(model => model.Movie.Title)-->
        </th>
        <th>
            Days Late<!--Html.DisplayNameFor(model => model.Days_Late)-->
        </th>
        <th>
            Late Fees<!--Html.DisplayNameFor(model => model.Late_Fees)-->
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Checkout_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Return_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Phone_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days_Late)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Late_Fees)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CheckOutID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CheckOutID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CheckOutID })
                </td>
            </tr>
        
    }

</table>

<div>
        @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/SearchBox.js"></script>